<h3 class="mt-8 mb-15 text-white">Dashboard</h3>
<mat-tree [dataSource]="dataSource" #tree [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <a  class="set-list">
      <span>{{node.name}}</span>
    </a>
   <!-- <button mat-icon-button><mat-icon>icon_name</mat-icon></button> -->
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
   
    <a matTreeNodeToggle  [attr.aria-label]="'Toggle ' + node.name" class="set-list">
      <mat-icon class="mat-icon-rtl-mirror material-icons-outlined mr-5">
        {{treeControl.isExpanded(node) ? 'add_box_outlined' : 'add_box_outlined'}}
      </mat-icon>
      <span>{{node.name}}</span>
    </a>
    
  </mat-tree-node>
</mat-tree>

